/*
Author: Shanik Sengupta
Author URI: 
*/


/*-----------fonts-----------------*/

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('fonts/Josefin Sans/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSans-LightItalic';
    src: url('fonts/Josefin Sans/JosefinSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Vincentia';
    src: url('fonts/Vincentia.otf') format('truetype');
}


@font-face {
    font-family: 'Vaughan-HandstylishFont';
    src: url('fonts/Vaughan-HandstylishFont.otf') format('truetype');
}




@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');










/*-------End---------*/

.spinner {
  width: 40px;
  height: 40px;
  background-color: #fff;

position: absolute;
top: 48%;
left: 48%;
  -webkit-animation: sk-rotateplane 2.2s infinite ease-in-out;
  animation: sk-rotateplane 2.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff6347;
z-index: 999999;
}

body {

    font-family: 'JosefinSans-Regular'!important;
    color: #999999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

a {
    transition: all 0.4s ease 0s;
}

p {
    margin: 0px;
}

header,
footer,
section,
aside,
ul,
nav {
    float: left;
    width: 100%;
}

ul li {
    list-style: none;
}









/* Paddings */


/*------------------- Banner Section --------------------*/

.banner_sec {
    margin: 0;
    padding: 0;
    width: 100%;
     
    float: left;
    background: url(images/shanik_banner_2.png) top center no-repeat;
    background-size: cover;
    position: relative;

}



/*-------------- Header --------*/

.header_sec {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    position: relative;
}

.header {
    margin: 0;
    padding: 30px 0;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: left;
}

.logo img {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}

.email_id {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: right;
}

.email_id a {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    font-family: 'JosefinSans-Regular';
    font-size: 16px;
    color: #fff;
}



.head_social {
    margin: 0;
    padding: 0;
    width: 30px;
    display: inline-block;
    position: absolute;
    right: 40px;
    bottom: -120px;
    }

.head_social ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    }


.head_social ul li {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    }

.head_social ul li a {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    }

.head_social ul li:hover {
    transform: scale(1.1);
    }



/*-------------- Header --------*/

.owl_sec {
    margin: 460px 0 0 0;
    padding: 0;
    width: 100%;
    float: left;
    position: relative;
}


.main_head_bg {
    margin: 0;
    padding: 0;
    width: 52%;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: -300px;
    }



.main_head_con {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
    }

.main_head_con h1 {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    font-family: 'Vincentia';
    font-size: 100px;
    color: #fff;
    }

.main_head_con p {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    font-family: 'JosefinSans-LightItalic';
    font-size: 22px;
    color: #fff;
    }









.owl_part {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.owl_con {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.owl_con h1 {
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'Vincentia';
    font-size: 36px;
    color: #282330;
}

.owl_con p {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'JosefinSans-LightItalic';
    font-size: 22px;
    color: #282330;
}


.owl {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    position: relative;
    }



.owl img {
     margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    position: relative;
    z-index: 9;
    animation-name: zoomimg;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    }

/* The animation code */
    @keyframes zoomimg {
        0%   {transform: scale(1);}
        50% {transform:scale(1.05); }
        100%   {transform: scale(1);}
    }


.owl article {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    position: absolute;
    bottom: 50px;
    right: -168px;
    z-index: 0;
    }

.owl article img {
    animation-name: zoomimg2;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    }

/* The animation code */
    @keyframes zoomimg2 {
        0%   {transform: scale(1.05);}
        50% {transform:scale(1); }
        100%   {transform: scale(1.05);}
    }


/*------------- Take a glimse section ------------------*/

.glimse_sec {
    margin: 40px 0 0 0;
    padding: 0;
    width: 100%;
    float: left;
}

.take_glimse_btn {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: right;
}

.take_glimse_btn a {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    font-family: 'JosefinSans-Regular';
    font-size: 20px;
    color: #5b5862;
}

.take_glimse_btn a img {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}



.take_glimse {
    margin: 70px 0 40px 0;
    padding: 0;
    width: 100%;
    float: left;
}

.take_glimse h2 {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'Vincentia';
    font-size: 36px;
    color: #282330;
}

.take_glimse p {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'JosefinSans-LightItalic';
    font-size: 22px;
    color: #282330;
}



/*------------------ Display Section ----------------------*/

.display_sec {
    margin: 0;
    padding: 200px 0 250px 0;
    width: 100%;
    float: left;
    background: url(images/boy_bg.png) top right no-repeat;
    background-size: 60% 95%;
    position: relative;
    background-color: #fbfbfb;
    }


.display_sec:before {
    content: "";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 225px;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/shanik_2.png);
    z-index: 9;
    background-size: 100% 100%;
}

.display_sec:after {
    content: "";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 251px;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(images/down_2.png);
    z-index: 9;
    background-size: 100% 100%;
}



.dis_boxes {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.dis_box {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    position: relative;
    top: 0;
}

.dis_box:hover {
    transform: scale(1.01);
    transition: all 0.8s ease 0s;
    top: -5px;
    }















.dis_box img {
    margin: 0;
    padding: 0;
    width: 95%;
    float: left;
}

.dis_box p {
    margin: 0;
    padding: 0;
    width: 22%;
    float: left;
    position: absolute;
    top: 108px;
    right: -100px;
}

.dis_box p span {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);
}


.dis_box.small img {
    float: right;
}

.dis_box.small {
    margin: 30px 0;
}


.dis_box.small p {
    width: 36%;
    top: auto;
    right: auto;
    bottom: 84px;
    left: -95px;
}

.dis_box.small p span {
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);
}





/*------------ Slider Section -------------------*/

.slider_sec {
    margin: 0;
    padding: 90px 0 0 0;
    width: 100%;
    float: left;
}

.slider_sec h2 {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'Vincentia';
    font-size: 36px;
    color: #282330;
}




.testi_img:hover {
    transform: scale(1.05);
    transition: all 0.4s ease 0s;
    }




/*-------------- Laptop Phone Section ------------------*/

.lap_ph_sec {
    margin: 0;
    padding: 90px 0 0 0;
    width: 100%;
    float: left;
}

.lap_ph_sec h1 {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'Vincentia';
    font-size: 36px;
    color: #282330;
}

.lap_ph_sec p {
    margin: 0 0 60px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'JosefinSans-LightItalic';
    font-size: 22px;
    color: #282330;
}




/*Laptop*/

.spl_laptop {
    margin: 0 0 100px 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.spl_laptop img {
    position: relative;
    }

.spl_laptop article {
    margin: 60px 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.spl_laptop article img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.spl_laptop article .owl-carousel-laptop {
    margin: 0;
    padding: 28px 20px 0 15px;
    width: 70%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.spl_laptop article span img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}


.owl-carousel-laptop .owl-nav,
.owl-carousel-laptop .owl-dots {
    display: none;
}



/*Iphone Phone*/

.iphone_sec {
    margin: 100px 0;
    padding: 0;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.iphone_text {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.iphone_text h3 {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'Vincentia';
    font-size: 36px;
    color: #282330;
}

.iphone_text p {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'JosefinSans-LightItalic';
    font-size: 22px;
    color: #282330;
}












.iphone {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.iphone img {
    position: relative;
    width: 80%;
    }

.iphone article {
    margin: 60px 0;
    padding: 0;
    width: 38%;
    display: inline-block;
    position: absolute;
    top: -36%;
    left: 50%;
    transform: translateX(-50%);
}

.iphone article img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}

.iphone article .owl-carousel-iphone {
        margin: 0;
    padding: 60px 24px 16px 7px;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.iphone article span img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
}


.owl-carousel-iphone .owl-nav,
.owl-carousel-iphone .owl-dots {
    display: none;
}








/* .iphone {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.iphone img.shanik {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation-name: widthh;
    animation-duration: 6s; 
    animation-iteration-count: 2;
    }


The animation code
@keyframes widthh {
    0%   {width: 0;}
    35% {width: 100%;}
    75% {width: 0;}
    100% {width: 100%;}
}








.iphone article{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
}

.iphone article img {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9;
    overflow: hidden;
}


.iphone article .owl-carousel-iphone {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    }



.iphone article .owl-carousel-iphone .item span {
    margin: 0;
    padding: 81px 190px 0 0;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
    }






.iphone article span {
    margin: 0;
    padding: 81px 190px 0 0;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    animation-name: screen;
    animation-duration: 15s; 
    animation-iteration-count: infinite;
    }

The animation code
@keyframes screen {
    0%   {top: 0;}
    50% {top: -190px;}
    100% {top: 0;}
}


.iphone article span img {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    } */











/*Ipad*/

.ipad_sec {
    margin: 100px 0;
    padding: 0;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.ipad_text {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

.ipad_text h3 {
    margin: 0 0 25px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'Vincentia';
    font-size: 36px;
    color: #282330;
}

.ipad_text p {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'JosefinSans-LightItalic';
    font-size: 22px;
    color: #282330;
}

.ipad {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    position: relative;
}


img.shanikssgsnk {
    margin: 0;
    padding: 0;
    width: 55%;
    display: inline-block;
    position: absolute;
    top: -100px;
    right: 0;
    z-index: -1;
    }




.ipad article{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.ipad article img {
    margin: 0;
    padding: 0;
    width: 75%;
    display: inline-block;
}

.ipad article span {
    margin: 0;
    padding: 39px 110px 0 106px;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    animation-name: screen;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    }

/* The animation code */
@keyframes screen {
    0%   {top: 0;}
    50% {top: -190px;}
    100% {top: 0;}
}


.ipad article span img {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    }






/*---------------- Portfolio --------------*/


.portfolio_sec  {
    margin: 0;
    padding: 160px 0;
    width: 100%;
    float: left;
    background: url(images/portfolio_bg.png) no-repeat center;
    background-size: 100% 100%;
    }

.portfolio_heading {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: center;
    }

.portfolio_heading h1 {
    margin: 0 0px 20px 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'Vincentia';
    font-size: 36px;
    color: #fff;    
    }

.portfolio_heading p {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    font-family: 'JosefinSans-LightItalic';
    font-size: 22px;
    color: #fff;    
    }



.portfolio {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    display: none;
    }

.portfolio ul {
    margin: 0 auto;
    padding: 60px 0;
    width: 100%;
    display: inline-block;
    }

.portfolio ul li {
    margin: 0 5.8% 0 0;
    padding: 90px 0 0 0;
    width: 15%;
    display: inline-block;
    position: relative;
    }




.portfolio ul li:nth-child(5n+1) {
    top: 10px;
    }

.portfolio ul li:nth-child(5n+2) {
    top: 70px;
    }

.portfolio ul li:nth-child(5n+3) {
    top: -20px;
    }

.portfolio ul li:nth-child(5n+4) {
    top: 40px;
    }

.portfolio ul li:nth-child(5n+0) {
    margin-right: 0;
    top: 70px;
    }


.portfolio ul li a {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    }

.portfolio ul li a img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    border: 5px solid #fff;
    border-radius: 50%;
    }






/*Animation*/

.portfolio ul li:nth-child(10n+1) {
    animation-name: move1;
    animation-duration: 6s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+2) {
    animation-name: move2;
    animation-duration: 12s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+3) {
    animation-name: move3;
    animation-duration: 8s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+4) {
    animation-name: move4;
    animation-duration: 10s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+5) {
    animation-name: move5;
    animation-duration: 14s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+6) {
    animation-name: move6;
    animation-duration: 10s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+7) {
    animation-name: move7;
    animation-duration: 6s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+8) {
    animation-name: move8;
    animation-duration: 12s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+9) {
    animation-name: move9;
    animation-duration: 8s;
    animation-iteration-count: 2;
    }

.portfolio ul li:nth-child(10n+0) {
    animation-name: move10;
    animation-duration: 12s;
    animation-iteration-count: 2;
    }



/* The animation code */
    @keyframes move1 {
        0%   {top: 10px;}
        25%   {top:-20px;}
        50%   {top: 20px;}
        75%   {top:-10px;}
        100% {top:10px}
    }


/* The animation code */
    @keyframes move2 {
        0%   {top: 70px;}
        25%   {top:-30px;}
        50%   {top: 30px;}
        75%   {top:-10px;}
        100% {top:70px}
    }

/* The animation code */
    @keyframes move3 {
        0%   {top:  -20px;}
        25%   {top: 30px;}
        50%   {top: -10px;}
        75%   {top: 20px;}
        100% {top: -20px}
    }

/* The animation code */
    @keyframes move4 {
        0%   {top:  40px;}
        25%   {top: -10px;}
        50%   {top: 20px;}
        75%   {top: -20px;}
        100% {top: 40px}
    }

/* The animation code */
    @keyframes move5 {
        0%   {top:  70px;}
        25%   {top: -10px;}
        50%   {top: 35px;}
        75%   {top: -20px;}
        100% {top: 70px}
    }


/* The animation code */
    @keyframes move6 {
        
        0%   {top:  70px;}
        25%   {top: -10px;}
        50%   {top: 35px;}
        75%   {top: -20px;}
        100% {top: 10px}
    }


/* The animation code */
    @keyframes move7 {        
        0%   {top:  40px;}
        25%   {top: -10px;}
        50%   {top: 20px;}
        75%   {top: -20px;}
        100% {top: 70px}
    }

/* The animation code */
    @keyframes move8 {
        0%   {top: 20px;}
        25%   {top: 0px;}
        50%   {top: -30px;}
        75%   {top: 10px;}
        100% {top:-20px}
            }

/* The animation code */
    @keyframes move9 {
        0%   {top: 70px;}
        25%   {top:-30px;}
        50%   {top: 30px;}
        75%   {top:-10px;}
        100% {top:40px}
    }

/* The animation code */
    @keyframes move10 {
        0%   {top:  10px;}
        25%   {top: -40px;}
        50%   {top: 30px;}
        75%   {top: -10px;}
        100% {top: 70px}
        
    }


/*Animation*/



.portfolio ul li:hover {
    animation-iteration-count: 0;
    top: 0;
    transition: all 0.4s ease 0s;
    }




button { width: 180px;
         height: 50px;
         background-color: white;
         border: none;
         margin-top: 40px;
         font-size: 20px;
         color: black;
         font-family: "JosefinSans-LightItalic"
         



}

.video {  width: 700px;
          height: 400px;
          background-color: black;
          margin-top: 50px;
          display: inline-block;
          z-index: 1;
          margin-bottom: 20px;
          margin-left: 10px;
    

}











/*Footer*/



.footer_sec {
    margin: 0;
    padding: 30px 0;
    width: 100%;
    float: left;
    }


.divider {
    margin: 0 0 30px 0;
    padding: 0;
    width: 100%;
    height: 1px;
    float: left;
    background: #e1e1e1;
    }




.thanks_for_visiting {
    margin: 0;
    padding: 0 0 30px 0;
    width: 100%;
    float: left;
    text-align: center;
    }

.thanks_for_visiting img {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    }




.lower_footer {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
    }

.footer_logo {
    margin: 0;
    padding: 0;
    width: 8%;
    float: left;
    }

.footer_logo img {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    }

.footer_contact {
    margin: 0;
    padding: 0;
    width: 92%;
    float: left;
    }

.footer_contact ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    text-align: right;
    }

.footer_contact ul li {
    margin: 0 0 0 8px;
    padding: 0;
    width: auto;
    display: inline-block;
    }

.footer_contact ul li a {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    font-family: 'JosefinSans-Regular';
    font-size: 24px;
    color: #db8591;
    }

.copy_right {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    text-align: right;
    }

.copy_right p {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    font-family: 'JosefinSans-Regular';
    font-size: 18px;
    color: #e099a2;
}





/* ------------- Light Box ---------------- */


.sl-wrapper .sl-counter {
    font-family: 'JosefinSans-Regular'!important;
    font-size: 30px!important;
    }

.sl-wrapper .sl-close {
    font-size: 6rem!important;
    margin-right: 10px!important;
    }

.sl-wrapper .sl-navigation button.sl-prev {
    background: #fe9483!important;
    box-shadow: 0px 0 10px #888888;
    }

.sl-wrapper .sl-navigation button.sl-next {
    background: #fe9483!important;
    right: 40px!important;
    box-shadow: 0px 0 10px #888888;
    }

.sl-wrapper .sl-image img {
    box-shadow: 0 0 40px #000!important;
    border-radius: 50%!important;
    }










/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {



    .main_head_con h1 {
        font-size: 62px;
        margin-bottom: 20px;
        }

    .main_head_bg {
        width: 65%;
        }

    .owl {
        width: 70%;
        }

    .owl article {
        width: 70%;
        right: -80px;
        }

    .owl_sec {
        margin: 400px 0 0 0;
        }


    .owl-carousel-testi  .owl-dots, .owl-carousel-testi  .owl-nav {
        display: none;
        }

    .dis_box img {
        width: 100%;
        }

    .dis_box p {
        margin: 20px 0 0 0;
        padding: 0;
        width: 100%;
        float: left;
        position: relative;
        top: 0;
        right: 0;
        }

    .dis_box p span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
        }

    .dis_box.small p {
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-bottom: 10px;
        }

    .dis_box.small p span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    }

    .iphone article .owl-carousel-iphone {
        padding: 40px 10px 0px 7px;
        }

    .ipad article span {
        padding: 25px 70px 0 65px;
        }

    .portfolio ul li {
        width: 18%;    margin: 0 1.8% 0 0;
        }

    .display_sec:before {
        top: -2px;
        }

    .portfolio {
        display: block;
        }

    /* The animation code */
@keyframes screen {
    0%   {top: 0;}
    50% {top: -120px;}
    100% {top: 0;}
}





}





@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {


    .main_head_bg {
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        }

    .main_head_con h1 {
        font-size: 42px;
            margin: 20px 0 0 0;
        }

    .owl_sec {
        margin: 0;
        }

    .head_social {
        width: 60%;
        right: 15px;
        bottom: 15px;
        }

    .head_social ul {
        text-align: right;
        }

    .head_social ul li {
            margin: 0 0 0 10px;
            width: auto;    
        }

    .main_head_con p {
        margin: 25px 0 15px 0;
        font-size: 18px;
        width: 100%;
        }

    .xs-hide {
        display: none;
        }

    .owl_con h1 {
        font-size: 28px;
        text-align: center;    margin: 0 0 15px 0;
        }

    .owl_con p {
        font-size: 18px;
        text-align: center;
        }

    .take_glimse h2 {
        font-size: 32px;
        text-align: center;margin: 0 0 15px 0;
        }

    .take_glimse {
        margin: 10px 0 30px 0;
        }

    .display_sec:before {
        display: none;
        }

    .take_glimse_btn a {
        position: relative;
        top: -27px;
        }

    .take_glimse p {
        font-size: 18px;
        text-align: center;
        }

    .display_sec {
        background-image: none;
        }

    .display_sec {
        padding: 30px 0 30px 0;
        }

    .display_sec:after {
        display: none;
        }   


    .dis_box p {
        margin: 10px 0 0 0;
        padding: 0;
        width: 100%;
        float: left;
        position: relative;
        top: 0;
        right: 0;
        }
       
   .dis_box p span, .dis_box.small p span {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        }

    .dis_box.small p {
        width: 100%;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin: 10px 0;
        }

    .dis_box img {
        width: 100%;
        }

    .slider_sec {
        padding: 30px 0 0 0;
        }

    .slider_sec h2 {
        font-size: 32px;
        text-align: center;
        }

    .lap_ph_sec h1 {
        font-size: 32px;
        text-align: center;
            margin: 0 0 15px 0;
        }

    .lap_ph_sec p {
        font-size: 18px;
        text-align: center;
        }

    .lap_ph_sec {
        padding: 30px 0 0 0;
        }


    .owl-carousel-testi  .owl-dots, .owl-carousel-testi  .owl-nav {
        display: none;
        }



    .lap_ph_sec p {
        margin: 0 0 30px 0;
        }

    .spl_laptop article .owl-carousel-laptop {
        padding: 18px 20px 0 15px;
        }

    .iphone_sec {
        display: block;
        }

    .spl_laptop {
         margin: 0;   
        }

    .iphone_sec {
        margin: 40px 0 0 0;
        }
    
    .iphone_text h3 {
        font-size: 32px;
        text-align: center;
        }

    .iphone article .owl-carousel-iphone {
        padding: 38px 12px 0px 4px;
        }

    .ipad_sec {
        display: block;
        }

    .ipad_sec {
        margin: 215px 0 100px 0;
        }
    
    .ipad article span {
        padding: 21px 57px 0 54px;
        }


    
    /* The animation code */
        @keyframes screen {
            0%   {top: 0;}
            50% {top: -100px;}
            100% {top: 0;}
        }

    .sl-wrapper .sl-navigation button.sl-next {
        right: 5px!important;
        }

    .sl-wrapper .sl-close {
        right: 10px!important;
        top: 45px!important;
        }

    .ipad_text h3 {
        font-size: 32px;
        text-align: center;
        margin: 30px 0 15px 0;
        }

    .portfolio_heading h1 {
        font-size: 32px;
        }

    .portfolio_heading p {
        font-size: 18px;
        }

    .portfolio_sec {
         padding: 100px 0;
        }

    .portfolio ul li {
        width: 43%;
        }

    .portfolio ul {
            padding: 30px 0;
        }

    .thanks_for_visiting img {
        width: 80%;
        }

    .lower_footer {
        display: block;
        }

    .footer_logo {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        }

    .footer_logo img {
        width: 30%;
        }

    .footer_contact ul li a {
        font-size: 18px;
        }

    .copy_right p {
        font-size: 14px;
        margin-top: 10px;
        }

    .footer_contact ul li {
        width: 100%;
        }

    .footer_contact ul li:nth-child(3), .footer_contact ul li:nth-child(4), .footer_contact ul li:nth-child(5) {
        width: 20px;
        margin-top: 10px;
        }

    .portfolio ul li {
        padding: 0px 0 0 0;
        margin-top: 20px;
        animation-name: none!important;
        }




    .portfolio ul li:nth-child(5n+1) {
    top: 0px;
    }

.portfolio ul li:nth-child(5n+2) {
    top: 0px;
    }

.portfolio ul li:nth-child(5n+3) {
    top:  0px;
    }

.portfolio ul li:nth-child(5n+4) {
    top: 0px;
    }

.portfolio ul li:nth-child(5n+0) {
    margin-right: 0;
    top: 0px;
    }

.portfolio ul li:nth-child(5n+0) {
    margin-right: 5.8%;
    }











  }